/* @import url('https://fonts.cdnfonts.com/css/'Rajdhani', sans-serif;');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family='Rajdhani', sans-serif;:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background-image: url('https://cdn.electricoctopus.agency/electric-octopus/page_bg.webp');
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;  
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
button:hover{
  opacity: .8;
}
/* common class */
.cursor-point{
  cursor: pointer;
}
.custom-maxW{
  max-width: 1460px;
  width: 100%;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;    
    padding-top: 16px;
    padding-bottom: 16px;  
}
.head-text{
  font-family: var(--ff-rajdhani);
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.7582417726516724px;
    text-align: left;
    color: var(--white);
}
.para-text{
  font-family: var(--ff-dmsans);
font-size: var(--fs-base);
font-weight: 400;
line-height: var(--lh-lg);
text-align: left;
color: var(--off-white);
font-size: var(--fs-base);
}
.font-32{
  font-size: var(--fs-xl);
}
.font-24{
  font-size: var(--fs-lg);
}
.mt-0{
  margin-top: 0px !important;
}
.mb-0{
  margin-bottom: 0px !important;
}
.pt-0{
  padding-top: 0px !important;
}
.pb-0{
  padding-bottom: 0px !important;
}
.mt-16{
  margin-top: 16px;
}
.mt-24{
  margin-top: 24px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-36{
  margin-bottom: 36px;
}
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-no-wrap{
  flex-wrap: nowrap;
}
.align-item-center{
  align-items: center;
}
.justify-space-between{
  justify-content: space-between;
}
.gap-24{
  gap: 24px;
}
.gap-16{
  gap: 16px;
}
.gap-8{
  gap: 8px;
}
.maxw-124{
  max-width: 124px;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.orange-bg{
  background: #FD5710 !important;
}
.white-color{
  color: #fff !important;
}
  /* main body css */
  .main-body-container{
    margin-top: 48px;
    position: relative;
}
/* hero section */
.ourwork-hero-section {
  display: flex;
  align-items: center;
  gap: 48px;
}
.hero-section-left{
  width: 55%;
}
.hero-section-right {
   width: 41%;
}
.hero-head{
  font-family: var(--ff-rajdhani);
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.7582417726516724px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin-bottom: 16px;
}
.hero-para{
  font-family: var(--ff-dmsans);
    font-size: var(--fs-base);
    font-weight: 500;
    line-height: var(--lh-md);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin-bottom: 24px;
}
.hero-data {
  display: flex;
  gap: 48px;
  margin-bottom: 24px;
}
p.hero-data-val {
  font-family: "din-condensed-variable",sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 2.985576868057251px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
}
p.hero-data-txt {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-base);
  font-weight: 500;
  line-height: var(--lh-sm);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}

.hero-subscription{
  margin-bottom: 24px;
}
.hero-text2 {
  font-family: var(--ff-rajdhani);
  font-weight: 600;
  color: var(--white);
  letter-spacing: .76px;
  line-height: 130%;
  margin-bottom: 10px;
  font-size: var(--fs-md);
}
.hero-subscription-box {
  background: #1E1E1E;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  max-width: 465px;
  margin-bottom: 16px;
}
.hero-input {
  background: transparent;
  border: none;
  color: var(--white);
  width: 80%;
  outline: none;
  font-family: var(--ff-dmsans);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: var(--lh-md);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 8px;
}
.white-button {
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  border-radius: 40px;
  background-color: var(--white);
  color: #7E01F5;
  font-family: var(--ff-rajdhani);
  font-weight: 600;
  font-size: var(--fs-xsm);
  line-height: var(--lh-sm);
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 40px;
}
.hero-text {
  font-family: var(--ff-rajdhani);
  font-weight: 600;
  color: var(--white);
  letter-spacing: .76px;
  line-height: 130%;
  margin-bottom: 10px;
  font-size: var(--fs-sm);
  margin-bottom: 24px;
}
.partner-head-text{
    font-family: var(--ff-dmsans);
    font-weight: 400;
    font-size: 16.63px;
    line-height: 25.86px;
    color: var(--white);
    text-transform:uppercase;
}
.scroll-button{
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    text-align: center;
    z-index: 99;
    width: max-content;
    padding: 0px 0px 24px;
}
.tech-section {
  max-width: 1796px;
  margin: auto;
  overflow: hidden;
  padding: 0px 48px;
  padding: 80px 0;
  text-align: center;
}
.logo-sect{
  margin-top: 16px;
}
.img-slider{
  width: 100%;
  overflow: hidden; /* Ensures no content spills outside */
}

.img-slider logo-img-slide {
  width: max-content;
  height: auto;
}

.img-slider .slick-track {
  display: flex;
  align-items: center;
  gap: 48px;
}

.tech-section h2{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xsm);
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  text-align: center;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.tech-section p {
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-lg);
  font-weight: 600;
  line-height: var(--lh-md);
  letter-spacing: 0.7582417726516724px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}
#section3{
  background: rgba(22, 25, 32, 0.6);
  padding: 16px 0px;
}
.social-selling-routine {
  display: flex;
  align-items: center;
  gap: 24px;
}
.social-selling-routine-left {
  width: 43%;
}
.social-selling-routine-right {
  width: 57%;
}
.social-selling-routine-left h2{
  text-transform: uppercase;
  font-family: var(--ff-rajdhani);
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  margin-bottom: 16px;
}
.social-selling-routine-left h3{
  font-family: var(--ff-rajdhani);
  font-size: 27px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 16px;
}
.selling-para {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--off-white);
  margin-bottom: 16px;
}
.schedule-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  text-align: center;
  border-radius: 4px;
  background-color: #FF2121;
  color: var(--white);
  font-family: var(--ff-rajdhani);
  font-weight: 600;
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  box-shadow: 0 4px 0px 0px #612222;
  width: 100%;
  height: 54px;
}
.schedule-button:hover{
  opacity: .8;
}
.selling-data {
  display: flex;
  gap: 48px;
  margin-bottom: 24px;
}
.selling-data-val {
  font-family: "din-condensed-variable", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 2.985576868057251px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
}
.selling-data-txt {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-xxsm);
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #737685;
  max-width: 145px;
}
.our-work-section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-work-section-head{
  margin-bottom: 24px;
}
.our-work-section-head h2{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xsm);
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  margin-bottom: 16px;
  text-transform: uppercase;
}
.our-work-section-head h3{
  font-family: var(--ff-rajdhani);
  font-size: 38px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 24px;
}
.our-work-section-head p {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}
.cat-filter-form{
  position: relative;
  max-width: 33.33%;
  width: 100%;
}
.cat-dropdown {
  position: relative;
  
}
.cat-filter-form h3,.case-study-tags h3 {
  font-family: var(--ff-rajdhani);
    font-size: var(--fs-xsm);
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: var(--green-accent);
    margin-bottom: 8px;
    text-transform: uppercase;
}
.custom-select{
  background: #1F232E;
  border: none;
  width: 312px;
  height: 56px;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: var(--ff-dmsans);
font-size: var(--fs-base);
font-weight: 400;
line-height: var(--lh-sm);
text-align: left;
color: #F5F5F5;
position: relative;
cursor: pointer;
}

.cat-dropdown::after {
  content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url(https://cdn.electricoctopus.agency/electric-octopus/blog/arrow-down-s-fill.svg);
    background-size: contain;
    pointer-events: none
}
.custom-select {
  width: 100%;
  padding: 10px 16px;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: var(--fs-sm);
}
.custom-select.placeholder {
  color: rgba(245, 245, 245, .6); 
}

.custom-select {
  color: #F5F5F5; 
}
.custom-select:focus-visible{
  outline: 0px;
  outline-width: 0px;
}
.cat-search {
    background: #1F232E;
    display: flex;
    justify-content: space-between;
    height: 56px;
    align-items: center;
    padding: 12px 16px;
    border-radius: 8px;
}
.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.search-form button {
    border: 0;
    background: #fff0
}

#search-icon {
    transition: all 0.3s ease
}

.cat-search input {
    background: #fff0;
    outline: none;
    border: none;
    font-family: var(--ff-dmsans);
    font-size: var(--fs-base);
    font-weight: 400;
    line-height: var(--lh-sm);
    text-align: left;
    color: #F5F5F5
}

.cat-search input::placeholder {
    color: rgb(245 245 245 / .6)
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus {
    background-color: transparent!important;
    -webkit-box-shadow: 0 0 0 1000px #fff0 inset!important;
    -webkit-text-fill-color: #333!important
}
.search-post p {
    font-family: var(--ff-dmsans);
    line-height: var(--lh-sm);
    text-align: right;
    vertical-align: middle;
    color: #8991a7;
    bottom: -22px;
}
.case-study-section{
  display: flex;
  gap: 24px;
}
.case-study-left {
  width: 66%;
}
.casestudy-dropdown {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 16px;
  margin-bottom: 24px;
}
.tag-list {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    margin-top: 24px
}

.tag-list .tag-cloud-link,.tag-list span {
    font-family: var(--ff-dmsans);
    font-size: 15px!important;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: rgb(255 255 255 / .5);
    border-radius: 40px;
    border: 1px solid #515F75;
    padding: 4px 12px;
    text-decoration: none;
    pointer-events: none
}

.custom-tag-link.enabled,.tag-link.enabled {
    color: rgb(255 255 255);
    pointer-events: auto;
    opacity: 1;
    cursor: pointer
}
.case-study-post-block {
  background: rgba(27, 32, 45, 0.5);
  border-radius: 8px;
  padding: 24px;
  display: flex;
    gap: 24px;
  margin-top: 24px;
}
.load-cls{
    margin-top: 24px;
    font-family: var(--ff-dmsans);
    font-size: var(--fs-base);
    font-weight: 400;
    line-height: var(--lh-lg);
    text-align: left;
    color: var(--white);
}
.case-study-post-block-left {
    border-radius: 8px;
    overflow: hidden;
    max-width: 226px;
    width: 100%;
    height: 304px;
}
.cat-selection {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.cat-selection span a {
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    letter-spacing: 0;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: underline
}

span.industry-cat a {
    color: #B5FDB1
}

span.category-cat a {
    color: #A1D5FF
}
.case-study-post-block-left img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: top right;
    border-radius: 8px;
}
.case-study-post-block-right
 {
    width: 69%;
}
.case-study-post-sect{
  max-width: 456px;
}
.case-study-post-sect h2{
  font-family: var(--ff-rajdhani);
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-top: 16px;
  margin-bottom: 16px;
}
.case-study-post-date {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-xsm);
  font-weight: 400;
  line-height: var(--lh-sm);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #BBC3D8;
}
.date-white {
    color: #BBC3D8 !important;
}
.date-gray {
    color: #8C98B8 !important;
}
.case-study-post-para{
  font-family: var(--ff-dmsans);
  font-size: var(--fs-sm);
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.case-study-link {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}
.cat-tag {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;
}
.cat-tag span {
    border: 1px solid rgba(81, 95, 117, 1);
    border-radius: 36px;
    padding: 4px 12px;
    font-family: var(--ff-dmsans);
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: var(--white);
    margin: 0;
}
.hidden-tag {
    display: none !important;
}
.read-mo-button {
  display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    text-align: center;
    border-radius: 4px;
    color: var(--white);
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    max-width: 143px;
    width: 100%;
    height: 40px;
    border: 1px solid #C990FF;
    border-radius: 40px;
}
.read-mo-button:hover{
  opacity: .8;
}
.case-study-view{
  border-radius: 50%;
  border: 1px solid #D6ABFF;
  padding: 6px 12px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-family: Oswald;
  font-size: var(--fs-xsm);
  font-weight: 400;
  line-height: 17.68px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  justify-content: center;
  align-items: center;
}
.post-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}
.post-pagination span{
  width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(71, 71, 71, 0.86);
    background: rgba(36, 36, 36, 0.85);
    font-family: var(--ff-rajdhani);
    font-size: var(--fs-xsm);
    font-weight: 600;
    line-height: 18;
    text-align: center;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.post-pagination span.active,.post-pagination span:hover{
  background: rgba(126, 1, 245, 1);
  border: 1px solid rgba(126, 1, 245, 1);
  color: var(--white);
}
.case-study-right {
  width: 30%;
  background: rgba(27, 32, 45, 0.5);
  border-radius: 8px;
  padding: 24px;
  height: 100%;
}
.fav-block {
    background: #042857;
    border-radius: 8px;
    padding: 24px;
}
.fav-block h2{
      font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    color: var(--green-accent);
    margin-bottom: 16px;
}
.fav-block p{
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-sm);
    line-height: 20px;
    letter-spacing: 0.76px;
    color: var(--white);
    margin-top: 16px;
}
.inspiration-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.inspiration-block span{
  border-radius: 34px;
  background: #1FB4FF;
  padding: 6px 12px;
  font-family: var(--ff-dmsans);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}
.insprtn-view {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-xsm);
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  display: flex;
    align-items: center;
}
.insprtn-view img{
  margin-right: 6px;
}

.latest-post-block {
  margin-top: 24px;
}
.latest-post-block h2{
  font-family: var(--ff-rajdhani);
  font-size: 22px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--green-accent);
}
.side-banner-block {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  margin-top: 24px;
  padding: 40px 24px;
}
.side-banner-block .msg-button{
  color: var(--white);
  background: #FD5710;
}
.side-banner-block h2{
      font-family: var(--ff-rajdhani);
    font-weight: 500;
    font-size: 14.66px;
    line-height: 90%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--white);
}
.side-banner-block h3 {
  font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: 38px;
    line-height: 90%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  color: var(--white);
}
.side-banner-block p {
  font-family: var(--ff-dmsans);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 16px;
}
.tech-logo {
  margin-top: 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 216px;
}
.extra-earn {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 303px;
  margin-top: 24px;
}
.extra-btm p{
  font-family: Arial;
  font-size: 24.29px;
  font-weight: 700;
  line-height: 24.29px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  max-width: 235px;
  margin-bottom: 24px;
}
.apply-btn a{
  background: #ED6664;
  width: max-content;
  padding: 3px 8px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: 12.15px;
  font-weight: 700;
  line-height: 14.23px;
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}

.marketing-agency-section {
      background: rgba(27, 32, 45, 0.5);
    margin-top: 80px;
    padding: 48px 0px 0px;
}
.agency-block{
  display: flex;
  gap: 24px;
  height: 660px;
}
.marketing-agency-left,.marketing-agency-right {
  width: 50%;
}
.marketing-agency-right h2{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xsm);
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  margin-bottom: 16px;
  text-transform: uppercase;
}
.marketing-agency-right h3{
  font-family: var(--ff-rajdhani);
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  max-width: 530px;
  margin-bottom: 24px;
}
.agency-para {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-md);
  font-weight: 500;
  line-height: var(--lh-md);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 48px;
}
.marketing-agency-right ul{
  list-style: none;
  margin-bottom: 24px;
}
.marketing-agency-right ul li {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-base);
  font-weight: 500;
  line-height: var(--lh-md);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}
.portfolio-data {
  max-width: 338px;
  width: 100%;
}
.portfolio-sect{
  display: flex;
  gap: 24px;
  padding-top: 206px;
  padding-bottom: 80px;
}
.portfolio-sect-left,.portfolio-sect-right {
  width: 50%;
}
.portfolio-left-inner {
  display: flex;
  gap: 48px;
  margin-bottom: 48px;
}
.portfolio-left-inner span {
  font-family: "din-condensed-variable", sans-serif;
  font-size: 74.5px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 2.985576868057251px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  width: 185px;
}
.portfolio-data h3{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-lg);
  font-weight: 600;
  line-height: var(--lh-sm);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 6px;
}
.portfolio-data p{
  font-family: var(--ff-dmsans);
  font-size: var(--fs-sm);
  font-weight: 400;
  line-height: var(--lh-sm);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #929292;
}
.portfolio-sect-right h2{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xsm);
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  margin-bottom: 16px;
  text-transform: uppercase;
}
.portfolio-sect-right h3 {
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xl);
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  max-width: 480px;
  margin-bottom: 24px;
}
.portfolio-sect-right p{
  font-family: var(--ff-dmsans);
  font-size: var(--fs-md);
  font-weight: 500;
  line-height: var(--lh-md);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #929292;
  margin-bottom: 24px;
}
.p-txt{
  font-family: var(--ff-rajdhani);
    font-size: var(--fs-base);
    font-weight: 700;
    line-height: 21.6px;
    letter-spacing: 0.7582417726516724px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 4px;
}
.max-w{
  max-width: 344px;
}
.what-we-do{
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 80px;
}
.what-we-do-left {
  width: 45%;
  padding-right: 24px;
}
.what-we-do-right {
  width: 55%;
}
.do-left-1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 34px;
}
.do-left-1 h3 {
  font-family: var(--ff-rajdhani);
  font-size: 28px;
  font-weight: 700;
  line-height: var(--lh-md);
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 12px;
}
.do-left-1 p{
  font-family: var(--ff-dmsans);
  font-size: var(--fs-sm);
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--off-white);
}
.what-we-do-right h3{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xsm);
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
}
.what-we-do-right p {
  font-family: var(--ff-rajdhani);
    font-size: var(--fs-md);
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.7582417726516724px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    max-width: 376px;
}
.media-authority{
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: flex-start;
  gap:64px;
}
.media-authority-left {
  max-width: 555px;
}
.media-authority-right {
  width: 50%;
}
.media-authority-left h3{
  font-family: var(--ff-rajdhani);
  font-size: 40px;
  font-weight: 600;
  line-height: 51.04px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}
.media-authority-left p{
  font-family: var(--ff-dmsans);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}
.media-authority-right {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
}
.authority-right-block {
  width: 47%;
}
.authority-right-block h3{
  font-family: var(--ff-rajdhani);
    font-size: 15px;
    font-weight: 600;
    line-height: 19.14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin-bottom: 8px;
}
p.authority-val{
  font-family: "din-condensed-variable", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2.985576868057251px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  margin-bottom: 8px;
}
p.authority-para {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-sm);
  font-weight: 400;
  line-height: var(--lh-sm);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  max-width: 260px;
}
.testimonial-section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.testimonial-head {
  max-width: 948px;
  margin: auto;
  margin-bottom: 48px;
}
.testimonial-head h2 {
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xsm);
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  text-transform: uppercase;
  margin-bottom: 32px;
}
.testimonial-head p {
      font-family: var(--ff-rajdhani);
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 38.4px;
    letter-spacing: 0.7582417726516724px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--white);
    margin: 0 auto;
}
.testimonial-slider-inner {
  max-width: 403px;
  position: relative;
  padding-left: 34px;
}
.testimonial-slider-inner::before {
  content: '';
  display: block;
  background-image: url(https://cdn.electricoctopus.agency/ourwork/b-bfor-img-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 15px;
  margin-bottom: 10px;
  position: absolute;
  left: 0px;
  display: flex;
  height: 100%;
}
.testimonial-user {
  display: flex;
  align-items: center;
  gap: 16px;
}
.testi-user-img{
  max-width: 78px;
}
.testimonial-user-right h3{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-md);
  font-weight: 600;
  line-height: var(--lh-md);
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}
.testimonial-user-right p {
  font-family: var(--ff-dmsans);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--off-white);
  margin-bottom: 6px;
}
.star-rating{
  display: flex;
  align-items: center;
  gap: 4px;
}
p.testimonial-para {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-sm);
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--off-white);
  margin-top: 16px;
  margin-bottom: 16px;
      height: 130px;
}
.testimonial-sound {
  background: rgba(43, 45, 49, 0.6);
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  padding: 6px 12px;
}
.music-time{
  color: #929292;
  font-family: var(--ff-dmsans);
  font-size: var(--fs-xsm);
  font-weight: 400;
  line-height: 22px;
}

.trusted-company-section{
  padding-bottom: 80px;
  padding-top: 80px;
}
.trusted-company-section h3{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xsm);
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  text-transform: uppercase;
  margin-bottom: 12px;
}
.trusted-company-section p{
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xl);
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.7582417726516724px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  max-width: 547px;
  margin: auto;
  margin-bottom: 48px;
}

.mini-closure-section .custom-maxW{
  max-width: 1740px;
}
.mini-closure-section{
  background: rgba(2, 45, 70, 0.5);
  padding: 80px 0px;
}
.mini-closure-inner {
  display: flex;
  gap: 48px;
}
.mini-closure-left {
  width: 39%;
}
.mini-closure-right {
  width: 60%;
}
.mini-closure-left h3 {
  font-family: var(--ff-rajdhani);
  font-size: 22px;
  font-weight: 700;
  line-height: 25.45px;
  letter-spacing: 2.8275861740112305px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--green-accent);
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
}
.mini-closure-left h3::after{
  content: " ";
    display: block;
    background-image: url(https://cdn.electricoctopus.agency/ourwork/txt-under.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 173px;
    margin-bottom: 10px;
    position: absolute;
    bottom: -35px;
    height: 100%;
}
.mini-closure-left .para1 {
  font-family: var(--ff-rajdhani);
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 1.0719969272613525px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 18px;
}
.mini-closure-left .para2 {
  font-family: var(--ff-dmsans);
  font-size: var(--fs-base);
  font-weight: 400;
  line-height: 31px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  margin-bottom: 24px;
}
.course-button {
    padding: 8px 10px;
    text-align: center;
    border-radius: 44px;
    /* background-color: var(--white); */
    color: var(--white);
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    /* box-shadow: 0 4px 0px 0px #612222; */
    max-width: 142px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #C990FF;
}
.user-view-block {
    display: flex;
    align-items: center;
    margin: 0px 15px 16px;
}
.user-view-block img{
  margin-left: -15px;
}
.condition-txt {
    font-family: var(--ff-inter);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D4D4EE;
    margin-bottom: 24px;
    margin-top: 24px;
}
.review-count{
  font-family: Manrope;
    font-size: var(--fs-sm);
    font-weight: 800;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #8C8C8C;
}
.review-count span{
  color: var(--white);
}
.user-review-sect {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.forces-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forces-body-left {
  font-family: Quiche Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 88.68px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
  width: 80%;
}
.forces-body-left span{
  color: var(--green-accent);
}
.lets-talk-section{ 
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(https://cdn.electricoctopus.agency/ourwork/bg-banner.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lets-talk-section h3{
  font-family: Quattrocento Sans;
  font-size: 103.01px;
  font-weight: 700;
  line-height: 110.74px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--white);
}
.lets-talk-section h3 span{
  color: var(--green-accent);
}
.lets-talk-section p {
  font-family: var(--ff-rajdhani);
  font-size: var(--fs-xl);
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--off-white);
  max-width: 627px;
  margin: auto;
}

.testimonial-tab-group {
    display: none;
}
.testimonial-tab-group.active {
    display: flex;
    align-items: flex-start;
}

.testimonial-tabs-nav {
    max-width: 1120px;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 1px solid #86FF46;
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
.tab-toggle {
    text-align: center;
    max-width: 182px;
    border: 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-xsm);
    line-height: 120%;
    letter-spacing: 0.76px;
    text-align: center;
    color: var(--white);
    position: relative;
}
.tab-toggle.active {
    color: rgba(255, 255, 255, 0.6);
}
.tab-toggle.active::after {
    content: "";
    position: absolute;
    bottom: -17px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #86FF46;
    z-index: 1;
}
.tab-toggle span{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(214, 171, 255, 0.1);
    margin-bottom: 24px;
}
.testimonial-tabs-content {
    margin-top: 48px;
}
.tab-toggle.active span{
  background: rgba(134, 255, 70, 0.1);
}
.testimonial-budget {
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-sm);
    line-height: 16px;
    letter-spacing: 0%;
    color: var(--white);
    background: #1C2434;
    width: max-content;
    padding: 8px 18px;
    border-radius: 40px;
    margin-top: 24px;
}
.services-slider .slick-dots li {
  width: 15px;
  height: 15px;
  margin: 0;
}
.services-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  color: var(--white);
  border: 0;
  outline: none;
  background: #fff;
  border-radius: 50%;
  opacity: .3;
}
.services-slider .slick-dots li.slick-active button {
  background: #ffff;
  opacity: 1;
}
.services-slider .slick-dots {
  /* padding-top: 24px; */
  bottom: -46px;
}
.service-slide{
    background: #161920;
    border-radius: 16px;
    padding: 24px;
    margin: 0px 12px;
}
.service-slide h3{
    font-family: var(--ff-rajdhani);
    font-weight: 700;
    font-size: var(--fs-lg);
    line-height: 38px;
    letter-spacing: 0.76px;
    color: #D6ABFF;
    margin-top: 24px;
    margin-bottom: 16px;
}
.service-slide p{
    font-family: var(--ff-dmsans);
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: var(--lh-md);
    letter-spacing: 0%;
    color: var(--off-white);
}
.industry-icon-grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.industry-icon-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.industry-icon-item {
  width: calc(20% - 16px); /* 5 items per row, with gap compensation */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 170px;
    width: 100%;
}

.hidden-row {
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-out;
}
.show-more-btn {
    margin-top: 20px;
    padding: 10px 25px;
    font-weight: 600;
    background: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-base);
    line-height: 120%;
    letter-spacing: 0.76px;
    text-align: center;
    width: 100%;
}
.industry-icon-item p{
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-xsm);
    line-height: 20px;
    letter-spacing: 0.76px;
    text-align: center;
    color: #A9B62F;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 8px;
    margin-top: 16px;
        width: 100%;
}
.industry-icon-item span{
  height: 38px;
}
span.toggle-icon {
    width: 32px;
    height: 32px;
    display: inline-flex;
    border-radius: 50%;
    background: #7E01F5;
    align-items: center;
    justify-content: center;
}
.join-forces-section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.faq-section {
    display: flex;
    align-items: flex-start;
    gap:54px;
}
.faq-left {
    width: 38%;
}
.faq-right {
    width: 62%;
}
.faq-left h2 {
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-xsm);
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--green-accent);
    margin-bottom: 16px;
}
.faq-left h3{
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-xl);
    line-height: 38px;
    letter-spacing: 0.76px;
    color: var(--white);
    margin-bottom: 16px;
    max-width: 346px;
}
.faq-left p{
    font-family: var(--ff-dmsans);
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: var(--lh-md);
    color: var(--off-white);
    margin-bottom: 16px;
}
.faq-question {
    width: 100%;
    text-align: left;
    background: #16181A;
    border: none;
    padding: 1.5em 1em;
    font-size: 1.1em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ff-dmsans);
    font-weight: 500;
    font-size: var(--fs-base);
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--white);
    border-radius: 8px;
  }
        .faq-answer {
           padding-top: 1em;
    font-family: var(--ff-dmsans);
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: 30px;
    letter-spacing: 0%;
    color: var(--off-white);
        }
        .toggle-icon {
            font-weight: bold;
            font-size: 1.2em;
            user-select: none;
        }
.faq-question.active-faq{
  background: #7E01F5;
}
.faq-item {
    margin-bottom: 24px;
}
.faq-answer ul{
  list-style: disc;
  margin-left: 24px;
}
.faqs{
  padding-top: 80px;
  padding-bottom: 80px;
}

.full-tag {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.custom-tag-count {
    border: 1px solid rgb(255 255 255 / .5);
    border-radius: 36px;
    padding: 4px 12px;
    font-family: var(--ff-dmsans);
    font-size: var(--fs-xxsm);
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: var(--white);
    margin: 0;
}
.viewd-tag span {
    border: 1px solid rgb(255 255 255 / .5);
    border-radius: 36px;
    padding: 4px 12px;
    font-family: var(--ff-dmsans);
    font-size: var(--fs-xxsm);
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: var(--white);
    margin: 0;
}
.most-viewed {
    display: flex;
    align-items: center;
    gap: 16px;
}
.custom-tag-link.selected-tag, .custom-tag-count.highlighted-tag, .tag-link.selected-tag, .custom-tag-count.highlighted-tag
 {
    border: 1px solid rgb(255 128 0);
    color: var(--white);
}
.no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    height: 380px;
}
.inner-result {
    max-width: 257px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-result h3 {
    font-family: var(--ff-rajdhani);
    font-size: var(--fs-md);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: var(--white);
}
.inner-result p {
    font-family: var(--ff-dmsans);
    font-size: var(--fs-xxsm);
    font-weight: 400;
    text-align: center;
    line-height: 150%;
    color: var(--white);
}
.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* limits to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.circle-container {
    padding-top: 190px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center
}

.circle-content {
    height: 60vw;
    width: 60vw;
    max-height: 48vw;
    max-width: 48vw;
    border-radius: 50%;
    background: rgb(4 4 4 / .4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.circle-img1 {
    width: 18.3vw;
    margin-bottom: 20px
}

.circle-img2 {
    width: 22.5vw
}

.btn-wrapper {
    margin-top: 24px;
    max-width: 153px;
    margin-left: auto;
    margin-right: auto
}

.home-btn {
    display: inline-block;
    background-color: #7e01f5;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
    text-align: center;
    font-family: 'Rajdhani',sans-serif;
    letter-spacing: .5px;
    width: max-content;
    text-transform: uppercase
}
/* custom comment form */
.comments-wrapper {
  padding: 24px 0;
  color: #eaeaea;
}

/* COMMENT ITEM */
.comment-item {
  display: flex;
  gap: 16px;
  padding: 24px 0;
  position: relative;
}

/* AVATAR */
.comment-avatar img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

/* BODY */
.comment-body {
  flex: 1;
}

/* HEADER */
.comment-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  position: relative;
}

.comment-author {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.comment-date {
    font-size: 13px;
    color: #BABABF;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

/* REPLY LINK */
.comment-reply-link {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  color: #D6ABFF;
  text-decoration: none;
  font-weight: 500;
}

.reply-icon {
  font-size: 16px;
}

/* COMMENT TEXT */
.comment-text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #BABABF;
}

/* REPLY STYLE */
.comment-item.reply {
  margin-left: 60px;
  padding: 0px 0px 0px 24px;
  border-left: 1px solid #FFA114;
  display: block;
}
.reply-submit-btn {
  opacity: 0.4;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.reply-submit-btn.active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}
