

.custom-sidebar{    width: 32%;
    background: #16181a;
    padding: 24px;
    border-radius: 24px;
    height: max-content;}
    .first-block,.second-block{padding:24px;background:#1B202D80;border-radius:24px}
    .first-block h3,.second-block h3,.popular-work-sect h3,.most-viewd-block h3{
        font-family: var(--ff-rajdhani);
        font-size: var(--fs-md);
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #86FF46 !important;
    }
    .second-block h3,.popular-work-sect h3{
        margin-bottom: 16px;
    }
    .second-block ul{
        list-style: none;
    }
    .second-block ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: var(--ff-dmsans);
        font-size: var(--fs-base);
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #F5F5F5;
        padding: 16px 0px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    .popular-work-sect,.most-viewd-block {
        background: #1B202D80;
        padding: 24px;
        border-radius: 24px;
    }
    .case-study-popular-post-block-left {
        border-radius: 8px;
        overflow: hidden;
        height: 186px;
    }
    .case-study-popular-post-block-left img {
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
        height: 100%;
        object-position: left;
    }
    .popular-hd{
        font-family: var(--ff-rajdhani);
        font-size: var(--fs-md);
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.7582417726516724px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color:#fff;
    }
    .viewd-para{
        font-family: var(--ff-rajdhani);
        font-size: var(--fs-base);
        font-weight: 700;
        line-height: 21.6px;
        letter-spacing: 0.7582417726516724px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
    }
    .popular-cat-tag {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 36px;
        padding: 6px 12px;
        text-align: left;
        color: #86FF46;
    }
    .category-list{list-style: none; margin-top: 24px; padding: 0;display: flex;align-items: center;flex-wrap: wrap;gap: 16px;}
    .category-list li a{font-family: var(--ff-dmsans);font-size: var(--fs-xsm);font-weight: 500;line-height: 20px;text-align: left;color: var(--white);border-radius: 36px;background: rgba(255, 255, 255,
        0.08);padding: 6px 18px;text-decoration: none;}
    .recent-post-block{display:flex;align-items:center;gap:16px;margin-top:24px}
    .post-left-content {
        width: 77%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 145px;
    }
    .post-left-content p,.article-para{
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-xsm);
    line-height: 140%;
    letter-spacing: 0px;
    color: var(--white);
}
.recent-tag {
    display: flex;
    gap: 6px;
    align-items: center;
}
.recent-tag span {
    padding: 2px 16px;
    border: 1px solid #fff;
    border-radius: 40px;
    font-family: var(--ff-dmsans);
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(255, 255, 255, .6);
}
    .recent-cat-tag{background:rgba(255,168,38,.15);border-radius:36px;padding:6px 12px;text-align:left;color:#FFA114}
    .recent-cat-tag a{color: #FFA114; text-decoration: none;}
    .recenttag{font-family: var(--ff-dmsans);font-size:12px;font-weight:500;line-height:20px;margin-top:16px;display:flex;align-items:center;gap:16px}
    .recent-dateg {
    color: #BBC3D8;
    margin-top: 8px;
}
    .recent-dateg span {
    color: #8C98B8;
}
.viewd-tag
 {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;
}
    .most-post-block{height:146px;position:relative}
    .most-post-block a{width: 100%; height: 100%;}
    .most-fetured-img{object-fit:cover;object-position:top;width:100%;height:100%}
    .content-panel{margin-left:32px;margin-top:24px}
    .content-panel p a{font-family:Rajdhani;font-size:16px;font-weight:600;line-height:20px;text-align:left;color:#fff;margin-top:16px;text-decoration: none;}
    .most-post-block{margin-bottom:24px}.most-post-content-block span{background:#02CCB2;font-family:Rajdhani;font-size:14px;font-weight:600;line-height:24px;text-align:left;color:#fff;padding:4px 12px}
    .recent-post-img {
        height: 145px;
        width: 120px;
    }
    .recent-post-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .side-banner-section {
        padding: 24px;
        background: #1E1E1E;
        border-radius: 24px;
    }
    .side-banner-top {
        position: relative;
        display: flex;
        text-align: right;
        justify-self: flex-end;
        width: auto;
        border-radius: 0px 27px 0px 0px;
    }
    .sidebar-cat-tag{
        position: absolute;
        display: flex;
        align-items: center;
        gap: 6px;
        height: 50px;
        left: 28%;
        font-family: Oswald;
        font-size: var(--fs-base);
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        color: #FFAF36;
        text-transform: uppercase;
    }
    .sidebar-cat-tag span{
        color: var(--white);
    }
    .body-content-place {
        width: 100%;
        height: 522px;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 34px;
    }
    .body-content-place h2{
        font-family: var(--ff-rajdhani);
        font-size: 46.27px;
        font-weight: 700;
        line-height: 59.05px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
    }
    .body-content-place h3 {
        font-family: var(--ff-rajdhani);
        font-size: 35px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
        margin-bottom: 12px;
        margin-top: 16px;
    }
    .body-content-place p{
        font-family: var(--ff-dmsans);
        font-size: var(--fs-xsm);
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
        max-width: 153px;
        margin-bottom: 34px;
    }
    .buyers-block ul{
        list-style: none;
        display: flex;
        align-items: center;
    }
    .buyers-block ul li{
        margin-left: -6px;
    }
    .buyers-block {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 34px;
    }
    .buyers-block span{
        font-family: var(--ff-rajdhani);
        font-size: var(--fs-xsm);
        font-weight: 600;
        line-height: 14px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
    }
.insight-tech {
    background: #1B202D;
    border-radius: 8px;
    margin-top: 24px;
    padding: 24px;
}
.insight-tech h2{
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-md);
    line-height: 120%;
    letter-spacing: 0px;
    color: #86FF46;
    margin-bottom: 16px;
}
.insight-tech h3{
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: var(--fs-base);
    line-height: 24px;
    letter-spacing: 0.76px;
    margin-top: 24px;
    color: var(--white);
}
.insight-tech p {
    font-family: var(--ff-dmsans);
    font-weight: 400;
    font-size: var(--fs-xsm);
    line-height: 22px;
    color: #F7F6FE;
    margin-top: 16px;
}
.insight-learnMore{
    max-width: 132px;
    margin-top: 16px;
}
.followus-block h3{
    font-family: var(--ff-rajdhani);
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #86FF46;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.foo-social-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.search-post{
    position: relative;
}
.sidebar-tag-list h3{
    font-family: Rajdhani;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #86FF46;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 16px;
}
.show-more {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: .76px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%
}

.show-more span {
    background: #7e01f5;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    border: 0
}

.hidden-tags {
    display: none
}
.talk-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #A5F0FF;
    padding: 24px;
    text-align: center;
}
.talk-banner h2{
    font-family: var(--ff-rajdhani);
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    color: var(--black);
    margin-bottom: 16px;
}
.talk-banner p {
    font-family: var(--ff-dmsans);
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: var(--black);
    margin-bottom: 16px;
}
.talk-banner a{
    display: flex;
    align-items: center;
    background: #114C58;
    width: 100%;
    height: 56px;
    text-align: center;
    justify-content: center;
    font-family: var(--ff-rajdhani);
    font-weight: 700;
    font-size: var(--fs-sm);
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}
.marketing-pulse-form h3{
        font-family: var(--ff-rajdhani);
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    text-align: left;
    color: #86ff46;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(255 255 255 / .2);
}
.marketing-pulse-form p {
    font-size: var(--fs-sm);
    line-height: 21px;
    margin-bottom: 16px;
    font-family: var(--ff-dmsans);
    font-weight: 400;
    color: var(--white);
}
.marketing-pulse-form input {
    width: 100%;
    height: 48px;
    background: rgb(255 255 255 / .1);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-family: var(--ff-dmsans);
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: 28px;
    color: var(--white);
    margin-bottom: 24px;
    outline: 0;
}
.sidebar-placeholder-image img{
    width: 100%;
}
.bg-f4cf98 {
  background-color: #F4CF98;
}

.bg-bcdffb {
  background-color: #BCDFFB;
}

.bg-e2dd9e {
  background-color: #E2DD9E;
}

.bg-eddbf5 {
  background-color: #EDDBF5;
}

.download-sidebar-banner {
    padding: 24px;
}
.banner-image
 {
    width: 244px;
    height: 244px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFE2B7;
    padding: 24px;
}
.banner-image img{
    width: 144px;
}
.bg-f4cf98 .banner-image{
    background: #FFE2B7;
}
.bg-f4cf98 .download-custom-button{
    background: #8C5A10;
}
.bg-bcdffb .banner-image{
    background: #DFF1FF;
}
.bg-bcdffb .download-custom-button{
    background: #355874;
}
.bg-e2dd9e .banner-image{
    background: #C4BE74;
}
.bg-e2dd9e .download-custom-button{
    background: #76702E;
}
.bg-eddbf5 .banner-image{
    background: #D5A7EA;
}
.bg-eddbf5 .download-custom-button{
    background: #622D7A;
}
.download-sidebar-banner h3{
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.76px;
    margin-top: 16px;
}
.download-sidebar-banner p{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    margin-top: 16px;
}
.download-custom-button{
        display: flex;
    align-items: center;
    background: #8C5A10;
    width: 100%;
    height: 56px;
    text-align: center;
    justify-content: center;
    font-family: var(--ff-rajdhani);
    font-weight: 700;
    font-size: var(--fs-sm);
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}
.red-banner{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    height: 311px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    margin-top: 24px;
}
.red-banner-block {
    width: 50%;
}
.red-banner-block h2{
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.76px;
    color: #fff;
}
.red-banner-block p{
    font-family: DM Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0%;
    color: #fff;
    margin-top: 16px;
}
.talk-xpert-btn{
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: #6D1F00;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 148px;
    margin-top: 16px;
}
/* ebook */
.ebook-banner {
    color: #fff;
    text-align: center;
    position: relative;
}
.set1_layout2 .content-wrapper,.set1_layout1 .content-wrapper,.set1_layout4 .content-wrapper,.set2_layout2 .content-wrapper,.set2_layout1 .content-wrapper,.set2_layout4 .content-wrapper{
    position: absolute;
    top: 0;
    padding: 24px;
    width: 100%;
}
.content-wrapper h2{
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
}

.content-wrapper h3{
    font-family: Rajdhani;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -3%;
    text-align: center;
}
.content-wrapper p{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
}
.ebook-button {
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    text-transform: uppercase;
    color: #890300;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    max-width: 80%;
    margin: 16px auto;
}
.ebook-button:hover,.sub-button:hover {
    opacity: .8;
}
.sub-button{
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    text-transform: uppercase;
    color: #FFDF5F;
    background: transparent;
    border: 1px solid #FFDF5F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 56px;
    margin: 16px auto;
}
.star-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.set1_layout3{
    background: #A7310D;
    padding: 24px;
}
.set2_layout3 {
    background: #32017A;
    padding: 24px;
}

.set1_layout3 .content-wrapper h2,.set2_layout3 .content-wrapper h2{
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    margin-bottom: 16px;
}
.mid-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.set1_layout3 .content-wrapper,.set2_layout3 .content-wrapper {
    max-width: 306px;
}
.set1_layout3 .ebook-button {
    background: #000;
    color: #fff;
}
.set2_layout3 .ebook-button {
    background: #E76C0E;
    color: #fff;
}
.set1_layout4 .content-wrapper h2,.set2_layout4 .content-wrapper h2{
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-transform: uppercase;
    color: #2DFFAD;
    text-align: left;
    max-width: 240px;
}
.set1_layout4 .content-wrapper p,.set2_layout4 .content-wrapper p {
    text-align: left;
    margin-top: 16px;
    max-width: 154px;
}
.set1_layout4 .ebook-button,.set1_layout6 .ebook-button,.set1_layout9 .ebook-button,.set2_layout4 .ebook-button,.set2_layout6 .ebook-button,.set2_layout9 .ebook-button,.gtm-content .ebook-button{
    margin: 16px 0px;
    color: #081A44;
    max-width: 166px;
    width: 100%;
    height: 44px;
}
.ebook-banner.set1_layout5,.ebook-banner.set2_layout5{
    background: #031232;
    padding: 24px;
}
.subscribe-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.set1_layout5 .content-wrapper h2,.set2_layout5 .content-wrapper h2{
    font-family: Rajdhani;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    text-transform: uppercase;
    color: #2DFFAD;
}
.set1_layout5 .content-wrapper p,.set2_layout5 .content-wrapper p {
    max-width: 200px;
    margin: 16px auto;
    font-size: 16px;
}
.set1_layout5 .content-wrapper,.set1_layout6 .content-wrapper,.set2_layout5 .content-wrapper,.set2_layout6 .content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subcsribe-form input {
    border: 1px solid #2D3D62;
    background: #08142F;
    border-radius: 8px;
    height: 54px;
    width: 100%;
    outline: none;
    color: #fff;
    padding: 16px;
    margin-bottom: 8px;
}
.subcsribe-form input::placeholder{
    color: #fff;
}
.set1_layout5 .ebook-button,.set2_layout5 .ebook-button {
    margin: 8px 0px;
    color: #081A44;
    max-width: 100%;
    width: 100%;
    height: 44px;
    outline: none;
}
.set1_layout6 .content-wrapper,.set2_layout6 .content-wrapper{
    position: absolute;
    bottom: 0;
    padding: 24px;
}
.set1_layout6 .content-wrapper p,.set2_layout6 .content-wrapper p  {
    font-size: 16px;
}
.set1_layout7 .content-wrapper,.set2_layout7 .content-wrapper  {
    position: absolute;
    top: 12%;
    left: 0;
    padding: 24px;
    text-align: left;
}
.set1_layout7 .content-wrapper h2,.set1_layout7 .content-wrapper h3,.set2_layout7 .content-wrapper h2,.set2_layout7 .content-wrapper h3{
    text-align: left;
    max-width: 270px;
}
.set1_layout7 .ebook-button{
    color: #fff;
    margin: 16px 0px;
}
.set2_layout7 .ebook-button{
    background: #C34603;
    color: #fff;
    margin: 16px 0px;
}
.set1_layout7 .content-wrapper p,.set2_layout7 .content-wrapper p{
    text-align: left;
}
.ebook-banner.set1_layout8{
    background: #054267;
    padding: 24px;
}
.ebook-banner.set2_layout8{
        background: #450567;
    padding: 24px;
}
.left-img{
    margin-bottom: 16px;
}
.set1_layout8 .content-wrapper h2,.set2_layout8 .content-wrapper h2{
    font-family: Rajdhani;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: left;
    max-width: 99%;
}
ul.ebook-list {
    margin-top: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
}
.set1_layout8 .sub-button,.set1_layout9 .sub-button,.set2_layout8 .sub-button,.set2_layout9 .sub-button  {
        background: #fff;
    color: #000;
    margin: 16px 0px;
    max-width: 180px;
    height: 44px;
}
.ebook-banner.set1_layout9 {
    background: #04123D;
    padding: 24px;
}
.ebook-banner.set2_layout9  {
    background: #022948;
    padding: 24px;
}
.set1_layout9 .left-img,.set2_layout9 .left-img {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.set1_layout9 h2,.set2_layout9 h2{
    font-family: Rajdhani;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
        max-width: 270px;
    margin: 0 auto;
}
.set1_layout9 .content-wrapper p,.set2_layout9 .content-wrapper p{
    font-size: 16px;
}
.set1_layout9 .ebook-button,.set2_layout9 .ebook-button{
    margin: 16px auto;
}
.gtm-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gtm-banner.layout1 {
    padding: 16px;
    background: #031232;
}
.gtm-content h3{
    font-family: Rajdhani;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.76px;
    text-align: center;
    text-transform: uppercase;
    color: #2DFFAD;
    max-width: 296px;
    margin: 16px auto;
}
.gtm-content p{
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    max-width: 276px;
    margin: auto;
}
    @media only screen and (max-width: 1360px) {
        .body-content-place h2{
            font-size: var(--fs-xl);
        }
        .body-content-place h3{
            font-size: var(--fs-lg);
            line-height: 30px;
        }
        .body-content-place p{
            font-size: 11px;
        }
        .body-content-place p{
            margin-bottom: 28px;
        }
        .body-content-place{
            height: 456px;
        }
    }
    @media only screen and (max-width: 991px) {
        .detail-content{
            flex-wrap: wrap;
        }
        .detail-content-left,.custom-sidebar {
            width: 100%;
        }
    }
    @media only screen and (max-width: 767px) {
        .dtail-heading,.detail-headline{
            font-size: var(--fs-lg);
        }
        .dtail-para{
            margin-top: 16px;
            font-size: var(--fs-xxsm);
            font-weight: 400;
            line-height: 23px;
        }
    }