* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background-image: url('https://cdn.electricoctopus.agency/electric-octopus/page_bg.webp');
    background-size: 100% 100%;
    background-position: top center;
    background-repeat: no-repeat;
 
    
}
button:hover{
  opacity: .8;
}
/* common class */
.cursor-point{
  cursor: pointer;
}
.custom-maxW{
  max-width: 1460px;
  width: 100%;
    margin: 0 auto;
    padding-left: 90px;
    padding-right: 90px;    
    padding-top: 16px;
    padding-bottom: 16px;  
}
.head-text{
  font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.7582417726516724px;
    text-align: left;
    color: #fff;
}
.para-text{
  font-family: "DM Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 34px;
text-align: left;
color: #F7F6FE;
font-size: 18px;
}
.white{
  color: #fff !important;
}
.border{
  border: 1px solid !important;
}
.white-border{
  border-color: #fff !important;
}
.transparent-bg{
  background: transparent !important;
}
.font-32{
  font-size: 32px;
}
.font-24{
  font-size: 24px;
}
.mt-0{
  margin-top: 0 !important;
}
.mt-16{
  margin-top: 16px;
}
.mt-24{
  margin-top: 24px;
}
.mt-32{
  margin-top: 32px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb-36{
  margin-bottom: 36px;
}
.flex{
  display: flex;
}
.align-item-center{
  align-items: center;
}
.justify-space-between{
  justify-content: space-between;
}
.gap-24{
  gap: 24px;
}
.gap-16{
  gap: 16px;
}
.gap-8{
  gap: 8px;
}
.gap-6{
  gap: 6px;
}
.w-100{
  width: 100% !important;
}
.w-50{
  width: 50%;
}
.maxw-153{
  max-width: 153px;
}
  /* main body css */
  .main-body-container{
    margin-top: 32px;
    position: relative;
}
/* slider section */
.slider-container {

  background: #16181A;
  border-radius: 24px;
  padding: 24px;
}
.post-cat-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.silder-arrow{
  display: flex;
  align-items: center;
  gap: 6px;  
}
.arrow-cl {
  background: rgba(255, 255, 255, 0.08);
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
}
.arrow-cl:hover{
  opacity: .8;
}
.img-block{
  border-radius: 16px;
    overflow: hidden;
    height: 350px;
}
.img-block img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}
.prod-cat {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  padding: 5px 10px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  /* text-align: left; */
  color: #86FF46;
}
.post-date {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  color: #97989F;
}
.slide-content{
  max-width: 953px;
}
.client-data{
  font-family: "DM Sans", sans-serif;
font-size: 15px;
font-weight: 500;
line-height: 20px;
text-align: left;
color: #fff;
}
.client-data img{
  border-radius: 50%;
  width: 36px;
}
/* newsletter section */
.newsletter-section {
  background: #041D28;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 34px;
}
.newsletter-left{
  width: 65%;
}
.newsletter-input{
  max-width: 332px;
  width: 100%;
  position: relative;
}
.newsletter-input input{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);;
  border-radius: 8px;
  width: 100%;
  outline: none;
  height: 48px;
  padding: 8px 24px;
  font-family: "DM Sans", sans-serif;
font-size: 16px;
font-weight: 400;
color: #fff;
}
.newsletter-input input::placeholder{
  color: #A8A8A8;
}
.error-message{
  color: #F6432C;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  bottom: -18px;
  left: 0;
}
.newsletter-input input.error {
  border-color: #F6432C !important;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  text-align: center;
  border-radius: 44px;
  background-color: #7E01F5;
  color: #fff;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  height: 48px;
}
.subscribe-button.disabled {
  background: rgba(34, 34, 34, 0.7);
  color: #6A6A6A;
  pointer-events: none;
}
.subscriptionForm{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}
.newsletter-head-text {
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 8px;
}
.white-button{
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;
  color: #7E01F5;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 40px;
}
.maxw-124{
  max-width: 124px;
}

.newsletter-bottom-text {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}
/* portfolio section */
.portfolio-section {
  padding-top: 48px;
  margin-bottom: 48px;
}
.portfolio-section h2{
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 2px;
  text-align: left;
  color: #86FF46;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.portfolio-section h3{
  font-family: 'Rajdhani', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  color: #fff;
}
.portfolio-section h3 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #fff;
}
.portfolio-left {
  width: 40%;
}
.cat-dropdown {
  position: relative;
}
.portfolio-right{
  display: flex;
  align-items: center;
  gap: 24px;
}
.portfolio-right .custom-select{
  background: #1F232E;
  border: none;
  width: 312px;
  height: 56px;
  border-radius: 8px;
  padding: 12px 16px;
  font-family: "DM Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #F5F5F5;
position: relative;
cursor: pointer;
}

.cat-dropdown::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px; 
  height: 24px;
  background-image: url('https://cdn.electricoctopus.agency/electric-octopus/blog/arrow-down-s-fill.svg'); 
  background-size: contain;
  pointer-events: none; 
}
.custom-select {
  width: 100%;
  padding: 10px;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  
  font-size: 16px;
  border-bottom: 1px solid #333;
}
.custom-select.placeholder {
  color: rgba(245, 245, 245, .6); 
}

.custom-select {
  color: #F5F5F5; 
}
.custom-select:focus-visible{
  outline: 0px;
  outline-width: 0px;
}
.cat-search {
  background: #1F232E;
  display: flex;
  justify-content: space-between;
  height: 56px;
  align-items: center;
  padding: 12px 16px;
  width: 312px;
  border-radius: 8px;
}
.search-form{
  display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.search-form button{
  border: 0px;
  background: transparent;
}
#search-icon {
  transition: all 0.3s ease;
}
.cat-search input{
  background: transparent;
  outline: none;
  border: none;
  font-family: "DM Sans", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #F5F5F5;
}
.cat-search input::placeholder{
  color: rgba(245, 245, 245, .6); 
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* Transparent background */
    -webkit-text-fill-color: #333 !important; /* Ensure text color is visible */
}
.latest-article {
  padding-bottom: 34px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.tag-list {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  padding-left: 0px;
  list-style: none;
  margin-top: 24px;
}
.tag-list .tag-cloud-link,.tag-list span{
  font-family: "DM Sans", sans-serif;
font-size: 15px !important;
font-weight: 500;
line-height: 19.2px;
text-align: center;
color: rgba(255, 255, 255, 0.5);
border-radius: 40px;
border: 1px solid #515F75;
padding: 4px 12px;
text-decoration: none;
pointer-events: none;
}
.custom-tag-link.enabled,.tag-link.enabled {
  color: rgba(255, 255, 255, 1);
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px; 
  margin-top: 24px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #fff;
}
.grid-item a{
  text-decoration: none;
}
span.post-cat-tag {
  background: rgba(255, 255, 255, 0.1);
  padding: 7px 22px;
  border-radius: 30px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #86FF46;
}
.post-card {
  padding: 16px;
  background: rgba(22, 24, 26, 1);
  border: 1px solid rgba(36, 37, 53, 1);
  border-radius: 12px;
  height: 100%;
}
.post-img {
  height: 240px;
  border-radius: 6px;
  overflow: hidden;
}
.post-img img{
  width: 100%;
    height: 100%;
    object-fit: cover;
}
.cat-tag {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}
.cat-tag span{
  border: 1px solid rgb(255 255 255);
  border-radius: 36px;
  padding: 4px 12px;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: rgba(255, 255, 255, .6);
  margin: 0;
}

.post-para{
  font-family: 'Rajdhani', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 28px;
text-align: left;
color: #fff;
-webkit-line-clamp: 1;
}
.post-client-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.post-client-data-left {
  display: flex;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #fff;
  gap: 16px;
  /* width: 100%; */
}
.post-client-data-left img{
  width: 36px;
  border-radius: 50%;
}
.post-client-data-right time{
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: right;
  color: #97989F;
}
.post-pagination,.news-post-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
}
.post-pagination span, .news-post-pagination span{
  width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgba(71, 71, 71, 0.86);
    background: rgba(36, 36, 36, 0.85);
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.post-pagination span.active,.post-pagination span:hover,.news-post-pagination span.active,.news-post-pagination span:hover{
  background: rgba(126, 1, 245, 1);
  border: 1px solid rgba(126, 1, 245, 1);
  color: #fff;
}
.post-spesialist{
  padding-top: 40px;
}
.grid-block{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px; 
}
.grid-block-item:nth-child(1) {
  grid-column: span 2;
}
.post-spesialist h3 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.7582417726516724px;
  text-align: left;
  color: #fff;
  margin-bottom: 24px;
}
/* .post-spesialist p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #fff;
} */
.block-item{
  height: 352px;
  position: relative;
}
.post-img-block{
  height: 352px;
}
.post-img-block img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.block-grid {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px;

}
.block-grid h3{
  font-family: 'Rajdhani', sans-serif;
font-size: 24px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0.7582417726516724px;
text-align: left;
color: #ffff;
margin-bottom: 16px;
max-width: 220px;
}
.linear-grad-bg{
  background: linear-gradient(125.48deg, #921800 41.94%, #FF7A06 164.45%);

}
.post-spesialist .block-para{
  font-family: "DM Sans", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #F7F6FE;
}

.coment-view{font-family:Rajdhani;font-size:16px;font-weight:700;line-height:20px;text-align:left;color:#fff;margin-top:16px;margin-left:16px}
    .most-post-content-block{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
    .widget_my_custom_widget{background-color:#f9f9f9;padding:20px;border-radius:5px}
    .widget_my_custom_widget .widget-title{font-size:18px;font-weight:bold}
    .blog-blockr{display:flex;align-items:center;gap:16px}
    .blog-img-w{border-radius:12px;overflow:hidden;width:52%}
    .blog-para-w{width:45%}
    .team-block h3{font-family:Rajdhani;font-size:22px;font-weight:700;line-height:30px;text-align:left;color:#fff;margin-bottom:16px}
    .team-p1{font-family:Rajdhani;font-size:15px;font-weight:600;line-height:20px;text-align:left;color:#fff;margin-bottom:12px}
    .team-p2{font-family:"DM Sans", sans-serif;font-size:10px;font-weight:400;line-height:17.5px;text-align:left;color:#fff,}
    /* featured post slider  */
    .featured-post-slider .slick-prev,.featured-post-slider .slick-next{position:absolute;top:-16px;background:rgba(255, 255, 255, 0.3);height:32px;width:32px;display:flex;justify-content:center;align-items:center;cursor:pointer;border-radius:2px}
    .featured-post-slider .slick-prev:before{content:"";background-image:url("https://cdn.electricoctopus.agency/electric-octopus/arrow_next.svg");background-repeat:no-repeat;background-size:contain;width:12px;height:12px;display:block;position:absolute}
    .featured-post-slider .slick-next:before{content:"";background-image:url("https://cdn.electricoctopus.agency/electric-octopus/arrow_prev.svg");background-repeat:no-repeat;background-size:contain;width:12px;height:12px;display:block;position:absolute;margin-left:5px;display:block;position:absolute}
    .featured-post-slider .slick-next.slick-arrow{right:0}
    .featured-post-slider .slick-prev.slick-arrow{right:36px;left:auto;z-index:1}
    .featured-post-slider .slick-dots li button{width:8px;height:8px;color:#fff;border:0;outline:none;background:#fff;border-radius:50%;opacity:.3}
    .featured-post-slider .slick-dots li.slick-active button{background:#D6ABFF;opacity:1}
    .featured-post-slider .slick-dots{bottom:10px;right:-6px;left:auto;text-align:right}
    .featured-post-slider .slick-dots li{width:15px;height:15px;margin:0}
    .featured-post-slider{margin-bottom:0!important}
    .custom-tag-link.selected-tag, .custom-tag-count.highlighted-tag,.tag-link.selected-tag, .custom-tag-count.highlighted-tag{border:1px solid rgba(255, 128, 0, 1);color:#fff;}
    .highlight-tag{background-color:#007bff;color:#fff}
    .custom-tag-link,.main-tag{display:inline-block;padding:5px 10px;color:#333;border-radius:5px;cursor:pointer}
    .selected-main-tag{background-color:#007bff;color:#fff}
    .highlight-tag{background-color:#007bff;color:#fff}
    .hidden-tag{display: none !important;}
/* Announcement and news7 */
.anc-left{
  width: 50%;
}
.news-card{
  padding: 24px 16px;
  background: rgba(22, 24, 26, 1);
  height: 100%;
  position: relative;
}
.news-more{
  position: absolute;
  top: -20px;
  right: 16px;
}
.news-img {
  height: 352px;
  overflow: hidden;
}
.anc-data{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 24px;
}
.announce-img img,.news-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.announce-left{
  margin-right: 32px;
}
.portfolio-section .announce-head{
  margin-bottom: -18px;
}
/* announcement post slider */
.announcement-slider .slick-prev,.announcement-slider .slick-next{position: absolute;
  top: -16px;
  background: rgba(126, 1, 245, 1);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;}
    .announcement-slider .slick-prev:before{content:"";background-image:url("https://cdn.electricoctopus.agency/electric-octopus/arrow_next.svg");background-repeat:no-repeat;background-size:contain;width:12px;height:12px;display:block;position:absolute}
    .announcement-slider .slick-next:before{content:"";background-image:url("https://cdn.electricoctopus.agency/electric-octopus/arrow_prev.svg");background-repeat:no-repeat;background-size:contain;width:12px;height:12px;display:block;position:absolute;margin-left:5px;display:block;position:absolute}
    .announcement-slider .slick-next.slick-arrow{
      right: auto;
      left: 61%;
      top: 15px;}
    .announcement-slider .slick-prev.slick-arrow{
      right: auto;
      left: 58%;
      top: 15px;
      z-index: 1;}
    .announcement-slider .slick-dots li button{display: none;}
    .announcement-slider .slick-dots{bottom:10px;right:-6px;left:auto;text-align:right;display: none;}
    .announcement-slider .slick-dots li{width:15px;height:15px;margin:0}
    .announcement-slider{margin-bottom:0!important}
    .announcement-slider .slick-prev:hover, .announcement-slider .slick-prev:focus, .announcement-slider .slick-next:hover, .announcement-slider .slick-next:focus{
      background: rgba(126, 1, 245, 1);
    }

  .custom-tag-link {
      display: inline-block;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
      white-space: nowrap;
  }
  
  .full-tag {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  .ellipsis-tag {
      max-width: 165px; /* Adjust width as needed */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  
  .custom-tag-count {
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
      font-weight: bold;
  }
  .announce-content {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


  .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 1280px;
    height: 380px;
}
.no-search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 600px;
}
.inner-result {
  max-width: 257px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-result h3{
  font-family: "DM Sans", sans-serif;
font-size: 15px;
font-weight: 600;
text-align: center;
line-height: 150%;
}
.inner-result p{
  font-family: "DM Sans", sans-serif;
font-size: 13px;
font-weight: 400;
text-align: center;
line-height: 150%;
}
.full-block-link {
  display: block; /* Make the <a> tag a block-level element */
  text-decoration: none; /* Remove the default underline for the link */
}
span.dash-line {
  width: 60px;
  height: 1px;
  background: #fff;
}
/* 404 page */
.circle-container {
  padding-top: 190px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.circle-content {
  height: 60vw;
  width: 60vw;
  max-height: 48vw;
  max-width: 48vw;
  border-radius: 50%;
  background: rgba(4, 4, 4, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-img1 {
  width: 18.3vw;
  margin-bottom: 20px;
}

.circle-img2 {
  width: 22.5vw;
}

.btn-wrapper {
  margin-top: 24px;
  max-width: 153px;
  margin-left: auto;
  margin-right: auto;
}

.home-btn {
  display: inline-block;
  background-color: #7e01f5;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 0.5px;
  width: max-content;
  text-transform: uppercase;
}


.author-widget.staff-style {
  background-color: #e6f7ff;
  border-left: 5px solid #1890ff;
  padding: 15px;
  margin-bottom: 20px;
}

.author-widget.contributor-style {
  background-color: #fff7e6;
  border-left: 5px solid #faad14;
  padding: 15px;
  margin-bottom: 20px;
}

.author-widget h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.author-widget ul {
  list-style: none;
  padding-left: 0;
}

.author-widget li {
  margin-bottom: 5px;
}
.quote-template-preview-img {
  width: 280px;
}


/* custom comment form */
.comments-wrapper {
  padding: 24px 0;
  color: #eaeaea;
}

/* COMMENT ITEM */
.comment-item {
  display: flex;
  gap: 16px;
  padding: 24px 0;
  position: relative;
}

/* AVATAR */
.comment-avatar img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

/* BODY */
.comment-body {
  flex: 1;
}

/* HEADER */
.comment-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
  position: relative;
}

.comment-author {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.comment-date {
    font-size: 13px;
    color: #BABABF;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

/* REPLY LINK */
.comment-reply-link {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #ff3b3b;
  text-decoration: none;
  font-weight: 500;
}

.reply-icon {
  font-size: 16px;
}

/* COMMENT TEXT */
.comment-text {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #BABABF;
}

/* REPLY STYLE */
.comment-item.reply {
  margin-left: 60px;
  padding: 0px 0px 0px 24px;
  border-left: 1px solid #FFA114;
  display: block;
}
.reply-submit-btn {
  opacity: 0.4;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.reply-submit-btn.active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

