/* floating social media links  */
.dot-cls{
  height: 4px;
  width: 4px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  background: #fff;
}
.floating-social-wrapper{position:fixed;left:28px}.floating-social-icons .social-icon{text-decoration:none;background-color: 0.3s;transform: 0.3s}
.floating-social-icons .social-icon:hover{opacity: .8}
.floating-social-icons  { 
    display:  flex;
    flex-direction:  column;
    gap:  10px;   
}
.share-count  {
    font-family:  Rajdhani;
    font-size:  28px;    
    font-weight:  400;    
    line-height:  35.73px;    
    text-align:  center;    
    color:  #fff;    
    display:  flex;    
    flex-direction:  column;    
  padding-bottom:  24px;    
  margin-bottom:  24px;    
  border-bottom:  1px solid #E9ECEF;    
}

.share-count span:last-child {    
  font-size: 18px;    
  line-height: 24px;    
}
/* detail page style */
.breadcrumb-container{
  display: flex;
      align-items: center;
      gap: 16px;
}

span.dot-separate {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
}
.detail-content  {   
  display:  flex;    
  gap:  24px;    
  margin-bottom: 60px;
}
.detail-cat-tag {    
  margin-bottom: 16px;    
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.detail-cat-tag a{
  color: #fff;
  text-decoration: none;
}
.detail-cat-tag span a{    
  font-family:  "DM Sans", sans-serif;    
  font-size:  14px;    
  font-weight:  500;    
  line-height:  20px;    
  text-align:  left;    
  color:  #fff;   
  border-radius:  36px;    
  background:  rgba(255,  255,  255,  0.08);    
  padding:  6px 18px; 
  text-decoration: none;   
}
.detail-content-left  {    
    background:  #16181A;   
    border-radius:  24px;    
    padding:  24px;    
}
.detail-headline  {    
    font-family:  Rajdhani;    
    font-size:  36px;   
    font-weight:  700;    
    line-height:  40px;    
    text-align:  left;    
    color:  #fff;    
  	margin-bottom:  16px;    
}
.detail-headline a{
  background: rgba(27, 168, 212, 0.2);
  border-radius: 40px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  text-decoration: none;
}
.detail-content-left  {    
    width:  65%;   
}
.author-data span{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 0.6);
}
.author-detail-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  color:#fff;
}
.post-view-detail {
  display: flex;
  gap: 16px;
  align-items: center;
}
.post-commnt {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #fff;
}
.detail-fetured-img {    
	border-radius: 8px;    
  	overflow: hidden;    
    height: 100%;
  	/* margin-top:  24px;    
  	margin-bottom:  24px;     */
}
.detail-fetured-img img{
  width: 100%;
}
.dtail-para  {   
    font-family:  "DM Sans", sans-serif;
    font-size:  16px;    
    font-weight:  400;    
    line-height:  28px;   
    text-align:  left;  
    color:  #BABABF;   
}
.dtail-heading {   
    font-family:  Rajdhani;    
    font-size:  36px;    
    font-weight:  700;    
    line-height:  40px;    
    text-align:  left;    
    color:  #fff;    
}
.mk-pro-block  {    
    display:  flex;    
    align-items:  center;    
    border-radius:  16px;   
    padding:  34px;    
  gap: 24px;   
}
.mk-pro-block-left  {   
    border:  10px solid rgba(255,  255,  255,  0.1);    
    border-radius:  50%;    
    display:  flex;    
    align-items:  center;   
    justify-content: center;
    height: 168px;
    width: 168px;
  
}
.mk-pro-block-left img {    
  background: #01202E;
  border-radius: 50%;
  object-fit: cover;
  height: 100%;
  width: 100%; 
}
.mk-pro-block-right {
  width: 80%;
}
.mk-pro-block-right h3 {    
	font-family:  Rajdhani;    
    font-size:  24px;    
    font-weight:  600;   
    line-height:  30px;   
    letter-spacing:  0.7582417726516724px;    
    text-align:  left;    
    color:  #fff;    
  	max-width: 325px;    
}
.mk-pro-block-right p  {    
    font-family: "DM Sans", sans-serif;    
    font-size:  14px;    
    font-weight:  400;    
    line-height:  23px;    
    text-align:  left;   
    color:  #fff;    
}
.schedule-btn {    
	max-width:  170px;    
}
.plan-block  {    
    font-family:  Source Serif Pro;    
    font-size:  24px;    
    font-style:  italic;    
    font-weight:  400;    
    line-height:  32px;   
    text-align:  left;    
    color:  #fff;    
    background:  #B15205;    
    border-radius:  12px;    
    padding:  32px;   
    border-left:  4px solid #E8E8EA;    
}
.comment-section h3  {    
    font-family:  Rajdhani;    
    font-size:  24px;    
    font-weight:  500;    
    line-height:  40px;   
    text-align:  left;    
    color:  #fff;    
}
/*comment section*/
.reply-form input {    
  	max-width: 394px;    
  	width:  100%;    
    border-radius:  8px;    
  	background:  #000;    
    border:  none;    
    padding:  24px;    
    font-family:  "DM Sans", sans-serif;    
    font-size:  16px;    
    font-weight:  400;    
    line-height:  28px;    
    text-align:  left;    
    color:  #A8A8A8;   
    outline:  none;   
    resize:  none;    
    height:  64px;    
}
.reply-form textarea {    
    width:  100%;   
    border-radius:  8px;    
    background:  #000;    
    border:  none;    
    padding:  24px;   
    font-family:  "DM Sans", sans-serif;    
    font-size:  16px;    
    font-weight:  400;    
    line-height:  28px;   
    text-align:  left;    
  	color:  #A8A8A8;    
    outline:  none;    
    resize:  none;    
    height:  210px;    
    margin-top:  24px;    
}
.formSubmit-Btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reply-submit-btn {   
	display:  inline-block;    
    padding:  8px 10px;    
	text-align:  center;   
    border-radius:  40px;   
    background-color:  #7E01F5;    
    color:  #fff;    
    font-family:  'Rajdhani',sans-serif;
    font-weight:600;
    font-size:16px;
    line-height:24px;
    text-transform:uppercase;
    border:none;
    text-decoration:none;
    cursor:pointer;
    transition:opacity 0.3s ease;
    max-width:153px;width:100%;
    height:40px;
  }
  .article-hd {
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.7582417726516724px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
    margin-bottom: 8px;
}
.article-sub-hd {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #F7F6FE;
  margin-bottom: 16px;
}
.body-tmp-01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(100.11deg, #5B02FE 26.39%, #6F2EE7 116.96%);
  border-radius: 16px;
  padding: 24px;
}
.body-tmp-01 h3{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.76px;
  text-align: center;
  color: #fff;
}
.body-tmp-01 p {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  margin-top: 16px;
}
.body-tmp-01 ul{
  display: flex;
  list-style: none;
}
.body-tmp-01 ul li {
  margin-left: -10px;
}
.body-tmp-01 .business-c{
  max-width: 200px;
    text-align: left;
    margin-top: 0;
}
.xpert-button {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  border-radius: 44px;
  background-color: #fff;
  color: #000;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  /* box-shadow: 0 4px 0px 0px #612222; */
  max-width: 153px;
  width: 100%;
  height: 40px;
}
.creative-t h3{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #fff;
  margin-bottom: 8px;
}
.creative-t-p{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #fff;
  margin-bottom: 8px;
}
.creative-para{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 17.5px;
  letter-spacing: 0px;
  color: #fff;
}
.business-val {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}
.bullet-list{
  margin-left: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 154%;
  letter-spacing: 0%;
}
.bullet-list li{ margin-top: 8px;}
/* CTA Banner */
.banner-template-2 {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 23% 100%;
  height: 258px;
  display: flex
;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.bdy-bnner-right {
  margin-top: 24px;
  width: 58%;
}
.bdy-bnner-right h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-bottom: 0px;
}
.bdy-bnner-right p {
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-top: 8px;
}
.find-mo-btn {
  background: #7E01F5;
  border-radius: 50px;
  width: max-content;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 6px;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18.12px;
  font-weight: 600;
  line-height: 20.39px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-top: 12px;
}
.common-bdy-cls {
  background-repeat: no-repeat;
  background-position: 23% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin-top: 24px;
  height: 340px;
}
.banner-template-2{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 23% 100%;
  height: 306px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.banner-img-2 {
  border-radius: 6px;
  overflow: hidden;
  margin-top: 24px;
}
.cat-selection {
  display: flex;
  gap: 10px;
}
.cat-selection span a{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: underline;
}
span.industry-cat a{
  color: #B5FDB1;
}
span.category-cat a{
  color: #A1D5FF;
}
.dot-seperate {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
}
.banner-image-left {
  width: 37%;
 border-radius: 12px;
overflow: hidden;
}

.banner-image-right {
  width: 67%;
border-radius: 12px;
overflow: hidden;
}
.banner-image-left img, .banner-image-right img {
  object-fit: cover;
  height: 100%;
}
.banner-image-left .detail-fetured-img{
	height:100%;
}
.cta-bdy-cls {
  background-repeat: no-repeat;
  background-position: 23% 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin-top: 24px;
  height: 340px;
}
.cta-bnner-left {
  max-width: 400px;
}
.cta-bnner-left h2{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.76px;
  color: #FFF1AA;
  margin-bottom: 16px;
}
.cta-bnner-left p{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.76px;
  color: #F1F2F2;
  margin-bottom: 16px;
}
.quotes-des {
  max-width: 78%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.quotes-banner{
  height: 320px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 24px;
}
.quotes-des p{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #fff;
  margin-top: 24px;
}
p.w-name {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  color: #fff;
  margin-top: 0px;
}
p.w-des {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #E5C9B3;
  margin-top: 0px;
}
.name-cls {
  display: flex;
  align-items: center;
  gap: 15px;
}
.name-cls img{
  max-width: 60px;
  border: 3px solid #CE703D;
  border-radius: 50%;
}
.banner3-wrapper{
  background-color: #A8E0BD;
    height: 248px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.banner3-content h2 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #000;
  margin-bottom: 10px;
  max-width: 330px;
}
.banner3-content p{
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 10px;
}
.banner3-button {
  display: inline-block;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 40px;
  padding: 10px 24px;
  background: #1DAA50;
}
.banner3-content {
  max-width: 414px;
  width: 100%;
}
.banner3-wrapper.layout2{
  background-color: #fff;
  flex-direction: row-reverse;
}
.banner3-wrapper.layout2 .banner3-content,.banner3-wrapper.layout4 .banner3-content {
  max-width: 438px;
}
.banner3-wrapper.layout2 h2,.banner3-wrapper.layout4 h2{
  font-size: 22px;
  max-width: 100%;
}
.banner3-wrapper.layout2 p{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #616161;
}
.banner3-wrapper.layout3 h2,.banner3-wrapper.layout4 h2,.banner3-wrapper.layout5 h2{
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.banner3-wrapper.layout3 p,.banner3-wrapper.layout4 p{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #F3D7F5;
}
.banner3-wrapper.layout3 .banner3-button,.banner3-wrapper.layout4 .banner3-button{
  background: #7E01F5;
}
.banner3-wrapper.layout4,.banner3-wrapper.layout5{
  flex-direction: row-reverse;
}
.banner3-wrapper.layout4 .banner3-img {
  width: 32%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner3-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 16px;
  margin-bottom: 16px;
}
.banner3-list li{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
  width: 48%;
}
.banner3-wrapper.layout5 h2{
  color: #FFEFA2;
  max-width: 100%;
}
.banner3-wrapper.layout5 p{
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #fff;
}
.banner3-wrapper.layout5 .banner3-button{
  background: transparent;
  border: 1px solid #fff;
}
.banner3-wrapper.layout6{
  background-position: right;
}
.banner3-wrapper.layout6 h2{
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.76px;
  color: #F1F2F2;
  max-width: 100%;
}
.banner3-wrapper.layout6 p,.banner3-wrapper.layout7 p {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #F7F6FE;
}
.banner3-wrapper.layout6 .banner3-button,.banner3-wrapper.layout7 .banner3-button{
  background: #FFFFFF;
  color: #08262C;
}
.banner3-wrapper.layout7{
  background-position: left;
  justify-content: flex-end;
}
.banner3-wrapper.layout7 h2{
  font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 0.76px;
    color: #04D9D9;
    max-width: 100%;
}
.banner4-wrapper {
  height: 248px;
  padding: 24px;
  display: flex;
  align-items: center;
}
